[submodule "node_modules/.cache/gh-pages/git@github.com!Slula!lfgdevops.github.io.git"]
  path = node_modules/.cache/gh-pages/git@github.com!Slula!lfgdevops.github.io.git
  url = https://github.com/Slula/lfgdevops.github.io.git
