.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
/* body {
  background-color: #282c34 !important;
} */

.whitepaper {
  height: 100vw;
  overflow: scroll;
}

.terminal-screen {
  background-color: black !important;
  background-image: radial-gradient(
    rgba(0, 150, 0, 0.75),
    black 120%
  ) !important;
  height: 100vw !important;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
}
.terminal-screen::after {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vw !important;
  background: repeating-linear-gradient(
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none;
  scroll-behavior: unset;
  /* overflow: hidden; */
  /* z-index: -9999; */
}

::selection {
  background: #0080ff;
  text-shadow: none;
}
pre {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* tileset */

.b-top-tile {
  background-image: url("b-top-tile.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.b-bottom-tile {
  background-image: url("b-bottom-tile.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.b-left-tile {
  background-image: url("b-left-tile.png");
  background-repeat: repeat-y;
  background-size: contain;
}
.b-right-tile {
  background-image: url("b-right-tile.png");
  background-repeat: repeat-y;
  background-size: contain;
}

.b-top-left-tile {
  background-image: url("b-top-left-tile.png");
  width: 12px;
}

.b-top-right-tile {
  background-image: url("b-top-right-tile.png");
}

.b-bottom-left-tile {
  background-image: url("b-bottom-left-tile.png");
}

.b-bottom-right-tile {
  background-image: url("b-bottom-right-tile.png");
}

.panel-header-title {
  font-weight: bold;
  font-size: 42px;
  color: white;
}

.panel-text {
  font-weight: bold;
  color: white;
}

.white-paper-title {
  font-size: 34px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.white-paper-subtitle {
  font-size: 24px;
  padding-bottom: 24px;
  padding-top: 24px;
}

.white-paper-text {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;

  overflow: hidden;
}

.white-paper-pre {
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 16px;
  padding-top: 16px;
}

.annotation {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 8px;
  font-weight: 300;
  background: black;
  color: #f0f0f0 !important ;
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.app2d {
  height: 100vw;
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
